<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jandan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A4DA90F1DE42653005E6764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4DA9231DE42654005E6764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4DA92E1DE42654005E6764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
